body{
    font-size: 15px;
}
#car-model{
    display: flex;
    border-radius: 10px;
    position: absolute;
    top: 70px;
    left: 200px;
}
#sedans{
    border-radius:9px 0px 0px 9px;
    padding: 55px;
    background-color: #e38826;
}
#suvs{
    padding: 55px;
    background-color: #006970;
}
#luxury{
    border-radius: 0px 9px 9px 0px;
    padding: 55px;
    background-color: #004241;
}
p,h1{
    color: white;
}
p{
    font-family: 'Lexend Deca', sans-serif;
}
h1{
    font-family: 'Big Shoulders Display', sans-serif;
}
a{
    text-decoration: none;
    text-align: center;
}
.learnmore{
    text-align: center;
    padding: 10px;
    margin-top: 100px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    background-color: #ffffff;
    cursor: pointer;
}
#orange{
    color: #e38826;
}
#green{
    color: #006970;
}
#darkgreen{
    color: #004241;
}